body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    margin: 0;
    padding: 40px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 30px;
    color: white;
}

.registration-container {
    display: flex;
    justify-content: center;
}

form {
    background-color: white;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
}

form label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
    color: #333;
}

form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    box-sizing: border-box;
}

form button {
    width: 48%;
    padding: 12px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button[type="reset"] {
    background-color: #f44336;
}

form button:hover {
    background-color: #0056b3;
}

form button[type="reset"]:hover {
    background-color: #e41d1d;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
